
.btn .fe {
    position: relative;
    top: 2px;
}



.brand--purpledark{
    color: #0b035b;
}

.bg-brand--purpledark{
background-color: #0b035b;

}

.bg-brand--bluedark{
    background-color: #0b249b;
}

.bg-cstcolor{
    background-color: #041541;
}

.brand--lay{
    background-color: rgba(20, 40, 80, 0.5);
}

.auth--bx form{

    padding: 2rem 2.5rem;


}

.frm--cstm .form-control{
height: 48px;
padding: 0.5rem 1.2rem;
font-size: 14px;
color: #2002c9;

}


.frm--cstm .form-control:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid #2002c9;
}
.frm--cstm .btn{
    padding: 0.8rem 2.5rem;
}
.frm--cstm .btn.side--btn{
    width:150px;
}
/* pagnation */








/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px !important;
    height: 20px !important;
    position: relative !important;
    margin: 0px !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transition: .5s ease-in-out !important;
    -moz-transition: .5s ease-in-out !important;
    -o-transition: .5s ease-in-out !important;
    transition: .5s ease-in-out !important;
    cursor: pointer !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-color: none !important;

    }
    
    .anime1{
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        border-color: none !important;

    }
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block !important;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius:9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out !important;
    -moz-transition: .25s ease-in-out !important;
    -o-transition: .25s ease-in-out !important;
    transition: .25s ease-in-out !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    border-color: none !important;
    }
    
    .animated-icon1 span {
    background:#fafafafa;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }
    

    /* TMC Project */
    /* Thanks to google for the css styling understanding */
    



/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 60px;
}

.section-title h2 {
	font-size: 60px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #fc0254;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-c2 {
	background: #383b70;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
.on-red{
    color: #fc0254
}

.on-grey{
    color: #c3c4c9
}
.hero-section {
	overflow: hidden;
}




.icon-round {
	position: relative;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background: #ffffff;
	margin-bottom: 25px;
}

.icon-round img {
	position: absolute;
	right: -8px;
	bottom: 0;
}



.bg-purplee {
	background: #0a183d;
}

.bg-darkgrey{
    color: #50535a;
}
.inline-block{

    display: inline-block;
	color: #6a7080;
}



.copyright {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	color: #505565;
	padding: 10px 0 25px;
}

.social-links a {
	display: inline-block;
	color: #6a7080;
	font-size: 18px;
	margin-right: 35px;
}

.font-weight{
    font-weight: 500
}


.courser{
    	border-bottom: 2px solid transparent;
	cursor: pointer
}

/* progress bar */
.progress{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done{
background: linear-gradient(to left, #69d46d, #139707);
width: 270px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;

}


.progress-2{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done-2{
background: linear-gradient(to left, #69d46d, #139707);
width: 290px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;
}



.progress-3{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done-3{
background: linear-gradient(to left, #c0b551, #d4b70d);
width: 150px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;
}



.progress-4{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done-4{
background: linear-gradient(to left, #c0b551, #d4b70d);
width: 235px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;
}



.progress-5{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done-5{
background: linear-gradient(to left, #c0b551, #d4b70d);
width: 200px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;
}


.progress-6{
	background-color: #d8d8d8;
	height: 25px;
	width: 400px;
    border-radius: 20px;
    border: #ccc 4px solid;
}

.progress-done-6{
background: linear-gradient(to left, #69d46d, #139707);
width: 280px;
height: 100%;
border-radius: 20px;
align-items: center;
justify-content: center;
display: flex;
color: #fff;
transition: 1s ease;
}




/* buttons */


.t-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 195px;
	padding: 23px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	background: #b90e47;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.t-btn:hover {
	color: #fff;
}


.boxed-btn3 {

    background: #615CFD;
    color: #fff;
    display: inline-block;
    padding: 14px 38px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  

  .boxed-btn3:hover {
    border: 1px solid #615CFD;
    color: #615CFD !important;
    background: transparent;
  }
  

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */




/*---------------------
    About Section
-----------------------*/


/* contact */
.contact-option {
    padding-top: 30px;
}

.contact-section {
	background: #222222 !important;
}



.contact-text .ct-item {
	overflow: hidden;
	margin-bottom: 15px;
}

.contact-text .ct-item .ci-icon {
	width: 74px;
	height: 74px;
	text-align: center;
	line-height: 90px;
	border-radius: 50%;
	background: #393939;
	float: left;
	margin-right: 26px;
}

.contact-text .ct-item .ci-icon span {
	color: #e32879;
	font-size: 30px;
}

.contact-text .ct-item .ci-text {
	overflow: hidden;
	margin-top: 8px;
}

.contact-text .ct-item .ci-text ul li {
	list-style: none;
	font-size: 18px;
	color: #ffffff;
}

.contact-text .ct-item .ci-text ul li span {
	display: block;
	color: #b3b3b3;
}

.contact-option h4 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 45px;
}





.portfolio_image_area .single_Portfolio .portfolio_hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    text-align: center;
  
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
  }

  .portfolio_image_area .single_Portfolio .portfolio_hover h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
  }
  

  .portfolio_image_area .single_Portfolio:hover .portfolio_hover {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
