.body{
    padding: 0;
    margin: 0;
    font-size: 16px;

}

.ui-full-bg{
    width: 100%!important;
     min-height: 100% !important;
     background-size: cover !important;
     background-repeat: no-repeat;
     background-position: 50% 50%;


     /**Add animation preset **/
     -webkit-transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 
/** fonts **/
.fs--1{
    font-size: 1px !important;
}
.fs--2{
    font-size: 2px !important;
}
.fs-3{
    font-size: 3px !important;
}
.fs--4{
    font-size: 4px !important;
}
.fs--5{
    font-size: 5px !important;
}
.fs--6{
    font-size: 6px !important;
}
.fs--7{
    font-size: 7px !important;
}
.fs--8{
    font-size: 8px !important;
}
.fs--9{
    font-size: 9px !important;
}
.fs--10{
    font-size: 10px !important;
}

.fs--11{
    font-size: 11px !important;
}
.fs--12{
    font-size: 12px !important;
}
.fs--13{
    font-size: 13px !important;
}
.fs--14{
    font-size: 14px !important;
}
.fs--15{
    font-size: 15px !important;
}
.fs--16{
    font-size: 16px !important;
}
.fs--17{
    font-size: 17px !important;
}
.fs--18{
    font-size: 18px !important;
}
.fs--19{
    font-size: 19px !important;
}
.fs--20{
    font-size: 20px !important;
}
.fs--21{
    font-size: 21px !important;
}
.fs--22{
    font-size: 22px !important;
}
.fs--23{
    font-size: 23px !important;
}
.fs--24{
    font-size: 24px !important;
}
.fs--25{
    font-size: 25px !important;
}
.fs--26{
    font-size: 26px !important;
}
.fs--27{
    font-size: 27px !important;
}
.fs--28{
    font-size: 28px !important;
}
.fs--29{
    font-size: 29px !important;
}
.fs--30{
    font-size: 30px !important;
}
.fs--31{
    font-size: 31px !important;
}
.fs--32{
    font-size: 32px !important;
}
.fs--33{
    font-size: 33px !important;
}
.fs--34{
    font-size: 34px !important;
}
.fs--35{
    font-size: 35px !important;
}
.fs--36{
    font-size: 36px !important;
}
.fs--37{
    font-size: 37px !important;
}
.fs--38{
    font-size: 38px !important;
}
.fs--39{
    font-size: 39px !important;
}
.fs--40{
    font-size: 40px !important;
}
.fs--41{
    font-size: 41px !important;
}
.fs--42{
    font-size: 42px !important;
}
.fs--43{
    font-size: 43px !important;
}
.fs--44{
    font-size: 44px !important;
}
.fs--45{
    font-size: 45px !important;
}
.fs--46{
    font-size: 46px !important;
}
.fs--47{
    font-size: 47px !important;
}
.fs--48{
    font-size: 48px !important;
}
.fs--49{
    font-size: 49px !important;
}
.fs--50{
    font-size: 50px !important;
}
.fs--51{
    font-size: 51px !important;
}
.fs--52{
    font-size: 52px !important;
}
.fs--53{
    font-size: 53px !important;
}
.fs--54{
    font-size: 54px !important;
}

.fs--55{
    font-size: 55px !important;
}
.fs--56{
    font-size: 56px !important;
}
.fs--57{
    font-size: 57px !important;
}
.fs--58{
    font-size: 58px !important;
}
.fs--59{
    font-size: 59px !important;
}
.fs--60{
    font-size: 60px !important;
}
.fs--61{
    font-size: 61px !important;
}
.fs--62{
    font-size: 62px !important;
}
.fs--63{
    font-size: 63px !important;
}
.fs--64{
    font-size: 64px !important;
}
.fs--65{
    font-size: 65px !important;
}
.fs--66{
    font-size: 66px !important;
}
.fs--67{
    font-size: 67px !important;
}
.fs--68{
    font-size: 68px !important;
}
.fs--69{
    font-size:69px !important;
}
.fs--70{
    font-size: 70px !important;
}
.fs--71{
    font-size: 71px !important;
}
/** margin**/
.mrgt0{
    margin-top: 0em !important;
}
.mrgt1{
    margin-top: 1em !important;
}
.mrgt2{
    margin-top: 2em !important;
}
.mrgt3{
    margin-top: 3em !important;
}
.mrgt4{
    margin-top: 4em !important;
}
.mrgt5{
    margin-top: 5em !important;
}
.mrgt6{
    margin-top: 6em !important;
}
.mrgt7{
    margin-top: 7em !important;
}
.mrgt8{
    margin-top: 8em !important;
}
.mrgt9{
    margin-top: 9em !important;
}
.mrgt10{
    margin-top: 10em !important;
}


.mrgb0{
    margin-bottom: 0em !important;
}
.mrgb1{
    margin-bottom: 1em !important;
}
.mrgb2{
    margin-bottom: 2em !important;
}
.mrgb3{
    margin-bottom: 3em !important;
}
.mrgb4{
    margin-bottom: 4em !important;
}
.mrgb5{
    margin-bottom: 5em !important;
}
.mrgb6{
    margin-bottom: 6em !important;
}
.mrgb7{
    margin-bottom: 7em !important;
}
.mrgb8{
    margin-bottom: 8em !important;
}
.mrgb9{
    margin-bottom: 9em !important;
}
.mrgb10{
    margin-bottom: 10em !important;
}

.mrgl1{
    margin-left: 0.2em !important;
}
.mrgl2{
    margin-left: 0.5em !important;
}
.mrgl3{
    margin-left: 0.7em !important;
}
.mrgl4{
    margin-left: 1em !important;
}
.mrgl5{
    margin-left: 1.5em !important;
}
.mrgl6{
    margin-left: 2em !important;
}
.mrgl7{
    margin-left:2.5em !important ;
}
.mrgl8{
    margin-left: 3em !important;
}
.mrgl9{
    margin-left: 3.5em !important;
}
.mrgl10{
    margin-left: 4em !important;
}
.mrgl11{
    margin-left: 4.5em !important;
}
.mrgl12{
    margin-left: 5em !important;
}
.mrgl13{
    margin-left: 5.5em !important;
}
.mrgl14{
    margin-left: 6em !important;
}
.mrgl15{
    margin-left: 6.5em !important;
}
.mrgl16{
    margin-left: 7em !important;
}
.mrgl17{
    margin-left: 7.5em !important;
}
.mrgl18{
    margin-left: 8em !important;
}
.mrgl19{
    margin-left: 8.5em !important;
}
.mrgl20{
    margin-left: 9em !important
}

.mrgr1{
    margin-right: 0.2em !important;
}
.mrgr2{
    margin-right: 0.5em !important;
}
.mrgr3{
    margin-right: 0.7em !important;
}
.mrgr4{
    margin-right: 1em !important;
}
.mrgr5{
    margin-right: 1.5em !important;
}
.mrgr6{
    margin-right: 2em !important;
}
.mrgr7{
    margin-right:2.5em !important ;
}
.mrgr8{
    margin-right: 3em !important;
}
.mrgr9{
    margin-right: 3.5em !important;
}
.mrgr10{
    margin-right: 4em !important;
}
.mrgr11{
    margin-right: 4.5em !important;
}
.mrgr12{
    margin-right: 5em !important;
}
.mrgr13{
    margin-right: 5.5em !important;
}
.mrgr14{
    margin-right: 6em !important;
}
.mrgr15{
    margin-right: 6.5em !important;
}
.mrgr16{
    margin-right: 7em !important;
}
.mrgr17{
    margin-right: 7.5em !important;
}
.mrgr18{
    margin-right: 8em !important;
}
.mrgr19{
    margin-right: 8.5em !important;
}
.mrgr20{
    margin-right: 9em !important
}


/* padding */
.pdt0{
    padding-top: 0em !important;
}
.pdt1{
    padding-top: 1em!important;
}
.pdt2{
    padding-top: 2em !important;
}
.pdt3{
    padding-top: 3em!important;
}
.pdt4{
    padding-top: 4em !important;
}
.pdt5{
    padding-top: 5em !important;
}
.pdt6{
    padding-top: 6em !important;
}
.pdt7{
    padding-top: 7em !important;
}
.pdt8{
    padding-top: 8em!important;
}
.pdt9{
    padding-top: 9em!important;
}
.pdt10{
    padding-top: 10em !important;
}


.pdl0{
    padding-left: 0em !important;
}
.pdl1{
    padding-left: 1em !important;
}
.pdl2{
    padding-left: 2em !important;
}
.pdl3{
    padding-left: 3em!important;
}
.pdl4{
    padding-left: 4em !important;
}
.pdl5{
    padding-left: 5em !important;
}
.pdl6{
    padding-left: 6em !important;
}
.pdl7{
    padding-left: 7em !important;
}
.pdl8{
    padding-left: 8em !important;
}
.pdl9{
    padding-left: 9em!important;
}
.pdl10{
    padding-left: 10em !important;
}

.pdb0{
    padding-bottom: 0em !important;
}
.pdb1{
    padding-bottom: 1em !important;
}
.pdb2{
    padding-bottom: 2em !important;
}
.pdb3{
    padding-bottom: 3em!important;
}
.pdb4{
    padding-bottom: 4em !important;
}
.pdb5{
    padding-bottom: 5em !important;
}
.pdb6{
    padding-bottom: 6em !important;
}
.pdb7{
    padding-bottom: 7em !important;
}
.pdb8{
    padding-bottom: 8em !important;
}
.pdb9{
    padding-bottom: 9em!important;
}
.pdb10{
    padding-bottom: 10em !important;
}


.pdr0{
    padding-right: 0em !important;
}
.pdr1{
    padding-right: 1em !important;
}
.pdr2{
    padding-right: 2em !important;
}
.pdr3{
    padding-right: 3em!important;
}
.pdr4{
    padding-right: 4em !important;
}
.pdr5{
    padding-right: 5em !important;
}
.pdr6{
    padding-right: 6em !important;
}
.pdr7{
    padding-right: 7em !important;
}
.pdr8{
    padding-right: 8em !important;
}
.pdr9{
    padding-right: 9em!important;
}
.pdr10{
    padding-right: 10em !important;
}


.pd{
    padding-bottom: 0em !important;
}
.pd{
    padding-bottom: 1em !important;
}
.pd{
    padding-bottom: 2em !important;
}
.pd{
    padding-bottom: 3em!important;
}
.pd{
    padding-bottom: 4em !important;
}
.pd{
    padding-bottom: 5em !important;
}
.pd{
    padding-bottom: 6em !important;
}
.pd{
    padding-bottom: 7em !important;
}
.pd{
    padding-bottom: 8em !important;
}
.pd{
    padding-bottom: 9em!important;
}
.pd{
    padding-bottom: 10em !important;
}

/**color */
.on-white, .white a{
    color: #ffffff;
}
.on-alspat{
    color:#142850;
}
.on-bluedark{
   color: #0b249b;
}

.on-black, .on-black a{
    color: #000;
}
.on-black{
    color: #000;
}
.bg-alspat{
    background-color: #142850;
}
.bg-cyan{
    background-color: #00a8cc;
}
.bg-onwhite{
    background-color:#ffffff !important;
}
.bg-red{
    background-color: red !important;
}
.bg-black{
   background-color: #000;
}
.bg-bluedark{
    background-color: #0b249b;
}
.ui-text-center{
    text-align: center !important;
}
.ui-text-left{
    text-align: left;
}
.ui-text-right{
    text-align: right;
}

/**wrappers**/
.ui-wrapper{
    width: 100%;
    padding: 3em 0;
}

.ui-wrapper-large{
    width: 100%;
    padding: 5em 0;
}
.ui-wrapper-xlarge{
    width: 100%;
    padding: 7em 0;
}
.ui-wrapper-xxlarge{
    width: 100%;
    padding: 9em 0;
}
.ui-wrapper-small{
    width: 100%;
    padding: 2em 0;
}
.ui-wrapper-mini{
    width: 100%;
    padding: 1.3em 0;
}
.ui-wrapper-xmini{
    width: 100%;
    padding: 0.5em 0;
}
.ui-wrapper-xxmini{
    width: 100%;
    padding: 0.35em 0;
}

.ui-height-full{
    height: 100vh !important;
}
/* bottom*/
.btn{
    padding: 0.6rem 2rem;
    border-radius: 100px;
    box-shadow: none !important;
}
.btn-sm{
    padding: 0.2rem 0.5rem;
    border-radius: 100px;
    box-shadow: none !important;
}
.btn-bluedark{
background-color: #0b249b !important;
}
.ui-rounded{
border-radius: 50px !important;
}

.ui-rounded-small{
    border-radius: 10px !important;
}

.ui-rounded-mini{
    border-radius: 5px !important;
}

.ui-dflex{
    display: flex !important;
}

.ui-align-items-center{
align-items: center !important;
}
/* random rules*/
.ui-upcase{
    text-transform: uppercase !important;
}

.ui-lowercase{
    text-transform: lowercase !important;
}

.ui-capitalize{
    text-transform: capitalize !important;
}
 /* this rule works with bootstrap*/

.ui-container-fluid{
    width: 96%;
    padding-right:0 !important;
    margin: 0 auto; 
}

/* navigation */
.ui-nav{
    list-style: none !important;
    text-decoration: none !important;
}
.ui-nav-list{
    list-style: none !important;
    
}
.ui--a{
    text-decoration: none !important;
    list-style: none !important;
}

/* float */
.ui-float-right{
    float: right !important;
}
.ui-float-left{
    float: left !important;
}
.justify-content-center{
justify-content: center !important;
}
.justify-items-center{
    justify-items: center !important;
}

.bold:hover{
    color: #cccccc;
    font-weight: bolder !important;
}
.hover{
color: #ffffff !important;
}
.alt:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px #000 !important;
}
.bolder:hover{
    color: #000 !important;
    font-weight: bolder !important;
    transform: scale(1.2)!important;
    box-shadow: 5px 5px 15px #000 !important;   
}
.trans{
    transition: all 4s ease-in-out !important;
}


@media (max-width: 575px){
    .FFW{     
        text-align:center !important;
        align-content: center !important;
        justify-content: center !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    .nav-link{
        font-size: 26px;
       font-weight: 500;
    }
    .news{
        text-align:left !important;
        align-content: left !important;
        justify-content: left !important;
        
    }
    .headline{
        font-size: 20px !important;
        line-height: 25px !important;
    }
    .news p{
        font-size: 14px !important;
        line-height: 25px !important;
    }

    .news h5{
        font-size: 10px !important;
    }
    .imge{
        width: 100% !important;
        height: 200px!important;
       align-items: center;
       margin-top: 60px !important;
    }
       .contact-warp {
        padding: 100px 15px !important;
        margin-left: 0px !important;
	
    }

    .navbar{
        align-items: left !important;
        padding-left: -40px !important;
    }

    .sect{
        font-size: 25px !important;
        line-height: 20px !important;
        margin-top: 20px!important;
        margin-bottom: 20px !important;
      
    }
.soul{
    background-color: #000 !important;
}
    .sectt{
        font-size: 25px !important;
        line-height: 20px !important;
        margin-top: -60px!important;
        margin-bottom: 10px !important;
      
    }
    .edu{
        font-size: 20px !important;
        line-height: 20px !important;
    }
    .eduu{
        font-size: 30px !important;
        line-height: 20px !important;
    }
    
    
    .iimg{
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50px !important;
    }
    .headd{
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .heaad{
        font-size:23px !important;
      margin-top: 40px !important;
    }
    
    .t-btn {
        background:rgb(35, 67, 161) !important;
        color: #fff;
        display: inline-block;
        padding: 10px 10px !important;
        font-size: 12px !important;
        width: 100px !important;
        font-weight: 500;
        border: 0;
        border: 1px solid transparent;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        text-align: center;
        color: #fff !important;
        text-transform: capitalize;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer;
        border-radius: 2px !important;
        list-style: none !important;
        text-decoration: none !important;
      }
      
    
      .t-btn:hover {
        border: 1px solid rgb(111, 93, 211);
        color: rgb(0, 0, 0) !important;
        background: transparent !important;
      }
    
      .tobe{
        font-size: 15px !important;
        line-height: 25px !important;
        margin-top: 10px !important;
    
      }
      .tope{
          font-size: 10px !important;
          margin-top: 5px !important;
   
      }
      .tobee{
        font-size: 15px !important;
        line-height: 25px !important;
        margin-top: 10px !important;
        margin-left: 30px !important;
      }
      .topee{
          font-size: 10px !important;
          margin-top: 5px !important;
          line-height: 20px !important;
          margin-left: 30px !important;
      }
     .adsp{
        font-size: 10px !important;
        margin-top: 5px !important;
        color: #fff !important;
     }
     .ads{
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 10px !important;
        color: #fff !important;
        margin-top: 25px !important;
     }
     .footer{
         text-align: left !important;
     }

     .owl{
        background-color: #000 !important;
     }

.car{
    
    
    justify-content: center !important;
    align-items: center !important;
    margin-right: 30px !important;
}

.sub-text p{
    font-size: 10px !important;
    line-height: 20px !important;
    margin-top: -5px !important;
}
.sub-text h2{
    font-size: 22px !important;
    line-height: 25px !important;
}
.sub-text h3{
    font-size: 15px !important;
    line-height: 30px !important;
    margin-top: -5px !important;
}
    .section-titles h2{
        font-size: 25px !important;
        line-height: 30px !important;
    }
  
        .sect-t{
            font-size: 14px !important;
            margin-top: 0px !important;
            line-height: 30px !important;
        

}
.tag{
    margin-top:10px !important;
}
.img-fluid{
    width: 100% !important;
    height: 100% !important;
}
.img-fluidd{
    width: 150px !important;
   height: 100px !important;
 
}
.blogg{
    width: 100px !important;
    height: 100px !important;
}
.blt{
    margin-top: -120px !important;
    margin-left: 90px !important;
    font-size: 15px !important;
}
    .blp{
        margin-top: -5px !important;
        margin-left: 90px !important;
        text-align: left !important;
         font-size: 10px !important;
        
    }
    .blpp{
        margin-top: -20px !important;
        margin-left: 90px !important;
        text-align: left !important;
         font-size:5px !important;
    }
    .blt a{
        color: #000 !important;
    }
    .bltt a{
        color: #fff !important;
    }

.articles{
    margin-top: 100px!important;
}
.othernews{
    font-size: 20px !important;
}
.date{
    margin-top: -5px !important;
    margin-bottom: 10px !important;
}
.writer{
    margin-top: -15px !important;
}
.navclass{
    margin-left: -40px!important;
}
.nav-list{
    margin-top: 25px !important;
    align-items: center !important;
    text-align: center;
    margin-right: -25px!important;

}
.image {
	width: 100% !important;
	height:330px !important;
	margin-top: 20px;
	



    }
}